:host {
    display: block;
    height: 100%;
    width: 100% !important;
}

.container {
    height: 100vh;
    width: 100vw !important;
    background-image: url("../../assets/login-bg.jpg");
    background-size: cover;  /* Make sure the background covers the entire screen */
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat; /* Prevent tiling of the background */
    display: flex;
    justify-content: center;
    align-items: center;
}
